.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

.hole {
    width: 100px;
    height: 100px;
    background-image: url('../../img/hole.png');
    background-size: cover;
}

.hole.goblin {
    background-image: url('../../img/goblin.png'), url('../../img/hole.png');
}
